<div class="flex justify-between bg-cover bg-bottom w-screen h-180  bg-[url('aircraft.jpg')]">
  <div class="pl-10 pt-10">
    <%= link_to image_tag("logo.png", width:"100", height:"100", class:"text-start", alt:"Airwise Logo") %>
    <span class="self-center text-4xl text-indigo-950 font-bold whitespace-nowrap pl-5">AirWise</span>
  </div>
  <div class="pr-10 pt-10">
    <%= link_to 'Airports', '#', class:"hover:text-lime-400 font-bold text-btn mr-4 px-8 py-2 text-center text-4xl text-indigo-950" %>
    <%= link_to 'Aircrafts', '#', class:"hover:text-lime-400 font-bold text-btn px-8 py-2 text-center text-4xl text-indigo-950" %>
  </div>
</div>
