<%= render "pages/header" %>
<div class="p-20">
  <h1 class="font-rubik text-blue-600 text-center  text-6xl">Your perfect flight reports</h1>
  <div class="flex justify-center mt-5">
    <%= link_to 'Airports', airports_path, class:"w-52 font-bold bg-lime-300 rounded-2xl hover:bg-blue-600 focus:ring-4 mr-4 px-4 py-2 text-center text-4xl text-indigo-950" %>
    <%= link_to 'Aircrafts', '#', class:"w-52 font-bold bg-lime-300 rounded-2xl hover:bg-blue-600 focus:ring-4 px-4 py-2 text-center text-4xl text-indigo-950" %>
  </div>
</div>